In [2]:
import pandas as pd

par_file_loc = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"

In [3]:
df = pd.read_parquet(par_file_loc)

In [5]:
print(pd.io.sql.get_schema(df,"taxi"))
print(df.info())

CREATE TABLE "taxi" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369769 entries, 0 to 1369768
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1369769 non-null  int64
 1   tpep_pickup_datetime   1369769 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1369769 non-null  datetime64[ns]
 3   passenger_count        1271417 non-null  float64
 4   trip_distance          1369769 non-null  float64
 5   RatecodeID             1271417 non-null  float64
 6   store_and_fwd_flag     1271417 non-null  object
 7   PULocationID           1369769 non-null  int64
 8   DOLocationID           1369769 non-null  int64
 9   payment_type           1369769 non-null  int64
 10  fare_amount            1369769 non-null  float64
 11  extra                  1369769 non-null  float64
 12  mta_tax                1369769 non-null  float64
 13  tip_amount             1369769 non-null  float64
 14  tolls_amount           1369769 non-null  float64
 15  improvement_surcharge  1369769 non-null  float64
 16  total_amount           1369769 non-null  float64
 17  congestion_surcharge   1271417 non-null  float64
 18  airport_fee            5 non-null        float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 198.6+ MB
None

In [ ]:
dest_loc = f"/Users/m0l0ge6/Documents/ZoomCamp-2023/taxi_data.csv"
df.to_csv(dest_loc)

In [ ]:
df

In [ ]:
df.columns

In [ ]:
pd.set_option("display.html.table_schema", True)

In [ ]:
print(pd.io.sql.get_schema(df,"yellow_taxi"))

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine("postgresql://postgres:mysecretpassword@localhost:5432/postgres")

In [ ]:
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(df,"yellow_taxi",con=engine))

In [ ]:
df_itr = pd.read_csv("/Users/m0l0ge6/Documents/ZoomCamp-2023/taxi_data.csv",iterator = True, chunksize=100000,index_col=0)

In [ ]:
df1 = next(df_itr)

In [ ]:
print(pd.io.sql.get_schema(df1,"yellow_taxi",con=engine))

In [ ]:
df1.columns

In [ ]:
df1.tpep_pickup_datetime = pd.to_datetime(df1.tpep_pickup_datetime)
df1.tpep_dropoff_datetime = pd.to_datetime(df1.tpep_dropoff_datetime)

In [ ]:
df1.head(n=0).to_sql(name="Yellow_taxi",con=engine,if_exists = 'replace')

In [ ]:
%time df1.to_sql(name="Yellow_taxi",con=engine,if_exists = 'append')

In [ ]:
from time import time
while next(df_itr) != NULL:
    st_time = time()
    df1 = next(df_itr)
    df1.tpep_pickup_datetime = pd.to_datetime(df1.tpep_pickup_datetime)
    df1.tpep_dropoff_datetime = pd.to_datetime(df1.tpep_dropoff_datetime)
    df1.to_sql(name="Yellow_taxi",con=engine,if_exists = 'append')
    ed_time = time()
    
    print(f"successfully imported into database at {ed_time-st_time} seconds")

In [ ]:
from time import time
ed_t = time()+2
st_t = time()
print(f"successfully imported into database at %2f{%2f(ed_t-st_t)} seconds")

In [ ]:
df_itr1 = pd.read_csv("/Users/m0l0ge6/Documents/ZoomCamp-2023/taxi_data.csv", chunksize = 100000)
i = 0

In [ ]:
df_cols =  next(df_itr1).head(0)

In [ ]:
### '''Making it as script'''

In [12]:
import pandas as pd
from time import time
from sqlalchemy import create_engine
from time import time

engine = create_engine("postgresql://postgres:mysecretpassword@localhost:5432/postgres")
engine.connect()

par_file_loc = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"
df_par = pd.read_parquet(par_file_loc,engine="pyarrow")
df_par.head(0).to_sql(name="Yellow_taxi_new",con=engine,if_exists = 'replace')
st_time = time()
df_par.to_sql(name="Yellow_taxi_new",con=engine,if_exists = 'append')
ed_time = time()
print(ed_time-st_time)

In [13]:
print(ed_time-st_time)

58.55000114440918

In [15]:
df_par.to_csv("outputFile.csv")

In [ ]:
import pandas as pd
from time import time
par_file_loc = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"
df_par = pd.read_parquet(par_file_loc)

In [ ]:
print(df_par.info())

In [ ]:
df_p.

In [ ]:
df_csv = pd.read_csv("/Users/m0l0ge6/Documents/ZoomCamp-2023/taxi_data.csv",dtype={7:str})

In [ ]:
df_csv.info()

In [ ]:
print(pd.io.sql.get_schema(df_p,"new_taxi"))

In [18]:
import argparse   

parser = argparse.ArgumentParser(description='Ingest yello_taxi data to postgres')
parser.add_argument('--User',help='Postgres Username')
parser.add_argument('--Password',help='Postgres Password')
parser.add_argument('--Host',help='Postgres Password')
parser.add_argument('--Port',help='Postgres Port')
parser.add_argument('--DB',help='Postgres DBname')
parser.add_argument('--Table_Name',help='Postgres DB table name given in code')
parser.add_argument('--URL',help='URL for the YellowTaxi parquet file')
parser.print_help()
args = parser.parse_args()
print("inside")

print(args)

usage: ipykernel_launcher.py [-h] [--User USER] [--Password PASSWORD]
                             [--Host HOST] [--Port PORT] [--DB DB]
                             [--Table_Name TABLE_NAME] [--URL URL]

Ingest yello_taxi data to postgres

options:
  -h, --help            show this help message and exit
  --User USER           Postgres Username
  --Password PASSWORD   Postgres Password
  --Host HOST           Postgres Password
  --Port PORT           Postgres Port
  --DB DB               Postgres DBname
  --Table_Name TABLE_NAME
                        Postgres DB table name given in code
  --URL URL             URL for the YellowTaxi parquet file

usage: ipykernel_launcher.py [-h] [--User USER] [--Password PASSWORD]
                             [--Host HOST] [--Port PORT] [--DB DB]
                             [--Table_Name TABLE_NAME] [--URL URL]
ipykernel_launcher.py: error: unrecognized arguments: -f /Users/m0l0ge6/Library/Jupyter/runtime/kernel-1abfe78c-57a8-48cf-817c-dc9ab5a1902a.json

SystemExit: 2