In [1]:
import pandas as pd

par_file_loc = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"

In [2]:
df = pd.read_parquet(par_file_loc)

In [3]:
print(pd.io.sql.get_schema(df,"taxi"))
print(df.info())

CREATE TABLE "taxi" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369769 entries, 0 to 1369768
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1369769 non-null  int64
 1   tpep_pickup_datetime   1369769 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  1369769 non-null  datetime64[ns]
 3   passenger_count        1271417 non-null  float64
 4   trip_distance          1369769 non-null  float64
 5   RatecodeID             1271417 non-null  float64
 6   store_and_fwd_flag     1271417 non-null  object
 7   PULocationID           1369769 non-null  int64
 8   DOLocationID           1369769 non-null  int64
 9   payment_type           1369769 non-null  int64
 10  fare_amount            1369769 non-null  float64
 11  extra                  1369769 non-null  float64
 12  mta_tax                1369769 non-null  float64
 13  tip_amount             1369769 non-null  float64
 14  tolls_amount           1369769 non-null  float64
 15  improvement_surcharge  1369769 non-null  float64
 16  total_amount           1369769 non-null  float64
 17  congestion_surcharge   1271417 non-null  float64
 18  airport_fee            5 non-null        float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 198.6+ MB
None

In [4]:
dest_loc = f"./taxi_data.csv"
df.to_csv(dest_loc)

In [ ]:
df

In [5]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [ ]:
pd.set_option("display.html.table_schema", True)

In [6]:
print(pd.io.sql.get_schema(df,"yellow_taxi"))

CREATE TABLE "yellow_taxi" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine("postgresql://postgres:mysecretpassword@localhost:5432/postgres")

In [9]:
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(df,"yellow_taxi",con=engine))

In [10]:
df_csv = pd.read_csv("./taxi_data.csv",nrows=100)

In [ ]:
df1 = next(df_itr)

In [14]:
print(pd.io.sql.get_schema(df_csv,"yellow_taxi",con=engine))

CREATE TABLE yellow_taxi (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [12]:
df_csv.columns

Index(['Unnamed: 0', 'VendorID', 'tpep_pickup_datetime',
       'tpep_dropoff_datetime', 'passenger_count', 'trip_distance',
       'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID',
       'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
       'tolls_amount', 'improvement_surcharge', 'total_amount',
       'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [13]:
df_csv.tpep_pickup_datetime = pd.to_datetime(df_csv.tpep_pickup_datetime)
df_csv.tpep_dropoff_datetime = pd.to_datetime(df_csv.tpep_dropoff_datetime)

In [16]:
df_csv.head(n=0).to_sql(name="Yellow_taxi",con=engine,if_exists = 'replace')

0

In [17]:
df_csv.to_sql(name="Yellow_taxi",con=engine,if_exists = 'append')

100

In [ ]:
from time import time
while next(df_itr) != NULL:
    st_time = time()
    df1 = next(df_itr)
    df1.tpep_pickup_datetime = pd.to_datetime(df1.tpep_pickup_datetime)
    df1.tpep_dropoff_datetime = pd.to_datetime(df1.tpep_dropoff_datetime)
    df1.to_sql(name="Yellow_taxi",con=engine,if_exists = 'append')
    ed_time = time()
    
    print(f"successfully imported into database at {ed_time-st_time} seconds")

In [ ]:
from time import time
ed_t = time()+2
st_t = time()
print(f"successfully imported into database at %2f{%2f(ed_t-st_t)} seconds")

In [ ]:
df_itr1 = pd.read_csv("/Users/m0l0ge6/Documents/ZoomCamp-2023/taxi_data.csv", chunksize = 100000)
i = 0

In [ ]:
df_cols =  next(df_itr1).head(0)

In [ ]:
### '''Making it as script'''

In [ ]:
import pandas as pd
from time import time
from sqlalchemy import create_engine
from time import time

engine = create_engine("postgresql://postgres:mysecretpassword@localhost:5432/postgres")
engine.connect()

par_file_loc = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"
df_par = pd.read_parquet(par_file_loc,engine="pyarrow")
df_par.head(0).to_sql(name="Yellow_taxi_new",con=engine,if_exists = 'replace')
st_time = time()
df_par.to_sql(name="Yellow_taxi_new",con=engine,if_exists = 'append')
ed_time = time()
print(ed_time-st_time)

In [ ]:
print(ed_time-st_time)

In [ ]:
df_par.to_csv("outputFile.csv")

In [ ]:
import pandas as pd
from time import time
par_file_loc = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"
df_par = pd.read_parquet(par_file_loc)

In [ ]:
print(df_par.info())

In [ ]:
df_p.

In [ ]:
df_csv = pd.read_csv("/Users/m0l0ge6/Documents/ZoomCamp-2023/taxi_data.csv",dtype={7:str})

In [ ]:
df_csv.info()

In [ ]:
print(pd.io.sql.get_schema(df_p,"new_taxi"))

In [ ]:
import argparse   

parser = argparse.ArgumentParser(description='Ingest yello_taxi data to postgres')
parser.add_argument('--User',help='Postgres Username')
parser.add_argument('--Password',help='Postgres Password')
parser.add_argument('--Host',help='Postgres Password')
parser.add_argument('--Port',help='Postgres Port')
parser.add_argument('--DB',help='Postgres DBname')
parser.add_argument('--Table_Name',help='Postgres DB table name given in code')
parser.add_argument('--URL',help='URL for the YellowTaxi parquet file')
parser.print_help()
args = parser.parse_args()
print("inside")

print(args)